.display-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-text-link {
  color: #1677ff;
  cursor: pointer;
}

.company-logo {
  width: 120px;
  height: 40px;
}

.vertical-divider {
  height: 3.9em;
  margin: 0px;
  border-inline-start: 1px solid rgba(0, 0, 0, 0.5);
}

.header-menu {
  // width: calc(100vh - 200px);
  // .ant-menu-submenu-title {
  //   display: flex;
  //   align-items: center;
  // }
}

.down-icon {
  font-size: 12px;
}

.justify-end {
  text-align: end;
}

.display-flex {
  display: flex;
  gap: 10px;
}

.header-breadcrumb {
  .ant-breadcrumb-link {
    color: #000000b4 !important;
    font-weight: 600;

    a {
      color: #000000b4 !important;
      opacity: 0.7;
      font-weight: 600;
    }
  }

  .ant-breadcrumb-separator {
    color: #111315 !important;
    opacity: 0.7;
  }
}

.editable-row {
  .ant-table-cell-row-hover {
    background-color: #e6f6fc !important;
  }
}

.edit-permission-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.action-icon {
  font-size: 20px;
  color: #00a0e3;
  cursor: pointer;
}

.ant-table-thead {
  .ant-table-cell {
    background: #33b3e9 !important;
    color: #fff !important;
  }
}

.ant-table-row {
  .ant-input {
    // background-color: #fff !important;
    min-height: 36px !important;
  }

  &:nth-child(even) {
    .ant-input {
      // background-color: #fff !important;
      height: 30px !important;
    }

    .ant-table-cell {
      // background-color: #e6f6fc !important;
    }
  }
}

.secondary-table {
  .ant-table-row {
    .ant-input {
      background-color: #fff !important;
      min-height: 30px !important;
      // width: 70% !important;
      border: 1px solid #00000025 !important;
      border-radius: 4px !important;
    }

    &:nth-child(even) {
      .ant-input {
        background-color: #fff !important;
        height: 30px !important;
        // width: 70% !important;
      }

      .ant-table-cell {
        background-color: #fff !important;
      }
    }
  }

  .editable-row {
    .ant-table-cell-row-hover {
      background-color: #fff !important;
    }
  }
}

.breadcrumb-div {
  margin-top: 10px;
  // background-color: #84cdca;
  padding: 10px 35px;
  // border-radius: 12px;
  // box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
  // height: 20px !important;
}

.study-counter {
  font-weight: 600;
  font-size: 16px;
  background-color: #1a2c3e;
  opacity: 0.7;
  color: white;
  border-radius: 50px;
  padding: 0px 10px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(5, 5, 5, 0.1);
}

.study-typography-primary {
  display: flex;
  gap: 4px;
  font-weight: 600;
}

.study-typography-secondary {
  font-weight: 400;
}

.study-typography {
  color: #eea47f;
  // color: #e2d2f9;
  font-weight: 600;
}

.typography-primary {
  color: #01539d;
  color: #317874;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-user>img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-user {
  display: flex;
  position: absolute;
  left: 30px;
  gap: 15px;
  align-items: center;

  .header-user-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    // margin-top: 10px;
    color: rgba(0, 0, 0, 0.7058823529);
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
}

.chat-drawer {
  .ant-drawer-header {
    display: none;
  }

  .ant-drawer-body {
    padding: 0;
  }
 

  width: 700px;
}

.ant-drawer-content-wrapper{
  min-width: 430px ;
}

.wrap_tabbing {
  overflow: hidden;
}

.chatfilewrap {
  /* margin-top: 70px; */
  display: block;
  background-color: #fff;
  max-width: 414px;
  margin: 0px auto;
}

.modal-chat-issue {
  height: 82vh;
  position: fixed;
  margin-top: 5px;
  width: 70%;
}

.userchat-main {
  padding: 15px 15px 30px 30px;
  position: relative !important;
  overflow-y: auto;
  height: 75vh;
  overflow-x: hidden;
}

.chatfile-style {
  height: auto;
}

.userchat-date {
  text-align: center;
  padding-bottom: 16px;
  // padding-left: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.0354545em;
  padding-top: 10px;
  color: #6d7993;
}

.userchat-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  background: #33b3e9;
  width: 50%;
  float: right;
  margin-bottom: 16px;
  position: relative;
}

.black-color {
  background-color: black !important;
}

.color-test {
  background-color: "none";
}

.userchat-reply {
  background: #ffff !important;
  color: black !important;
  float: left;
}

.showcard-containerimg {
  display: flex;
  // justify-content: center;
  background: #000;
  position: relative;
}

.userchat-data .showcard-containerimg {
  width: 100% !important;

}

.userchat-data {
  display: flex;
  align-items: start;
  justify-content: space-between;
  word-break: break-all;
  font-weight: 500;
}

.userchat-time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 500;
}

.group-chat-user-chat {
  flex-wrap: wrap;
  flex-direction: column;
}

.social-chatmessanger {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  // padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  // width: calc(100vw - 400px);
}

.emoji-chatmessanger {
  bottom: 30% !important;
}

.social-chatmessanger-wrap>textarea {
  border: none;
  height: 23px;
  width: 100%;
  margin-left: 7px;
  font-size: 15px;
  max-height: 6rem !important;
  background: white;
  color: #000000c3;

  &::placeholder {
    color: #00000050;
  }

  /* overflow: scroll !important; */
}

.social-chatmessanger-wrap {
  display: flex;
  align-items: center;
  padding: 15px;
  background: white;
  // border: 1px solid #efefef;
  // border-radius: 12px;
  z-index: 999;
  gap: 5px;
  border-top: 1px solid #00000030;
}

.chat-camera-module>input[type="file"] {
  opacity: 0;
  color: transparent;
}

.chat-camera-module>input {
  width: 6%;
  position: absolute;
  /* left: 88%; */
}

.chat-camera-module>img {
  width: 40px;
  height: auto;
}

.chat-camera-module>input {
  width: 8%;
  position: absolute;
  left: 74%;
}

.chat-camera-module>img {
  width: 28px !important;
  height: 28px;
}

.send-chat-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #33b3e9;
  margin-left: 15px;
  margin-right: 15px;
}

.chat-upload-images {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  bottom: 60px;
  gap: 25px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  padding: 0px;
  /* margin: auto; */
  height: auto;
  right: 0;
  left: 0;
  padding: 10px 10px 10px 12px;
}

.handle-scroll {
  height: 29vh;
  overflow: scroll;
  width: auto;
}

.wrap_img_collection {
  margin-top: 5px;
  width: 30.3%;
  height: 85px;
  background: #ffffff;
  border: 1.5px dashed #99d3df;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(153, 211, 223, 0.2);
  border-radius: 20px;
}

.collection_img {
  width: 120px !important;
}

.collectionNameAddBtnContainer .video-part {
  border-radius: 20px !important;
  height: 85px;
}

.collectionNameAddBtnContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.pos_rel {
  position: relative !important;
  margin: 5px 5px;
}

.collectionNameCrossBtn {
  position: absolute;
  top: 4px;
  right: 5px;
  color: white;
  background-color: #99d3df !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.fileChat-cross-icon {
  z-index: 9999;
  top: -10px;
  left: 70px;
  right: 0px;
}

.filecross-btn {
  right: auto;
  top: auto;
}

.pdf-issue-fix-cross-btn {
  position: relative;
}

.icon-chat-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-text-pdf-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-pdf-data {
  text-decoration: underline;
  color: #99d3df;
}

.fileChat-cross-icon-direct {
  z-index: 9999;
  top: -10px;
  left: 40px;
  right: 0px;
}

.emoji-container {
  position: fixed;
  width: -webkit-fill-available;
  overflow-y: auto;
  margin-left: 0.50rem;
  margin-right: 1.50rem;
  margin-bottom: calc(100vh - 88vh);
  box-shadow: 1px 1px 15px 0px #d0d0d0;
  border-radius: 8px;
}

.emoji-chatmessanger {
  bottom: 47% !important;
}

.Img_store {
  width: 100%;
  height: 83px;
  object-fit: cover;
  border-radius: 8px;
}

.chatList-searchBox {
  position: absolute;
  left: 16%;
}

.search-box-outer {
  border: 1px solid #efefef;
  border-radius: 10px;
  position: relative;
  padding-right: 60px;
}

.search-box-inner {
  padding: 11px 9px 9px 38px;
  font-size: 15px;
  color: #989da6;
}

.search-box-inner img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.search-box-outer svg {
  position: absolute;
  right: 15px;
  top: 10px;
}

.search-box-outer svg.active path {
  fill: #99d3df;
}

.search-box-outer2 .search-box-inner {
  padding-top: 0;
  padding-bottom: 0;
}

.search-box-outer2 .search-box-inner input {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.search-box-outer svg,
.search-box-inner img {
  width: 18px;
}

.search-box-outer.search-box-outer2 {
  position: sticky;
  top: 64px;
  z-index: 9999;
  background: #fff;
  padding-right: 0;
}

.search-box-inner {
  font-size: 14px;
}

.search-box-inner img {
  top: 10px;
}

.search-box-inner .base-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box-inner .base-inner .ant-input {
  width: 90% !important;
  height: 30px !important;
  border: none !important;
}

.search-box-inner .base-inner .ant-input-affix-wrapper,
.search-box-inner .base-inner .ant-input-affix-wrapper-focused {
  border-width: 0px !important;
  border-inline-end-width: 0px !important;
  padding: 4px 0px !important;
  border-color: #ffffff !important;
  box-shadow: none !important;
}

.searchicon {
  width: 26px;
  height: 26px;
}

.chat-search-dropDown {
  position: absolute;
  right: 4%;
  display: flex;
  gap: 2px;
}

.setting-handle {
  position: absolute;
  display: flex;
  background: #6d7993;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  flex-direction: column;
  color: #fff;
  top: 1px;
  right: 5px;
  z-index: 2;
}

.setting-handle-container {
  /* padding: 14px 105px 14px 14px; */
  padding: 6px 10px 5px 14px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  right: 5px;
  z-index: 99;
}

.chat-group-dropdown>img {
  height: 20px;
  width: 28px;
}

.chat-setting {
  position: absolute;
  background: #6d7993;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  right: 0;
  top: 33px;
  z-index: 999;
}

.chat-setting-pop {
  color: #ffff;
  gap: 13px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efefef;
  z-index: 100;
}

.chat-setting-pop-span {
  cursor: pointer;
  padding: 12px;
  text-align: center;
}

.chat-setting-pop>hr {
  margin: 0px !important;
}

.quotedMessage-container {
  width: -webkit-fill-available;
  background: #fff;
  background: #ffffff;
  border: 2px solid #efefef;
  border-radius: 12px;
  // margin: 0px 7px 50px 7px;
  display: flex !important;
  flex-direction: row !important;
  padding: 7px 15px 7px 15px;
  position: sticky;
  bottom: 59px;
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.quotedMessage-container-position {
  margin: 0px 7px 65px 7px;
}

.quoted-details {
  width: 95%;
  word-break: break-all;
}

.quotedMessage-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #323b4d;
  margin-bottom: 0px !important;
}

.quotedMessage-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6d7993;
}

.showcard-containerimg {
  display: flex;
  // justify-content: center;
  background: #000;
  position: relative;
}

.showcard-containerimg>img {
  height: 29vh;
  border-radius: 10px;
  object-fit: contain;
}

.showcard-containerimg>video {
  /* padding: 0px 7px; */
  height: 29vh;
}

.showcard-containerimg>div>video {
  height: 29vh;
}

.chat-doc-image {
  height: 50px;
}

.chat-file-name-size {
  flex-direction: column;
  margin-top: 10px;
}

.number_text_data {
  font-weight: normal;
  font-size: 14px;
  /* color: #323b4d;
  opacity: 0.5; */
}

.forwardChat-data {
  display: flex;
  color: black;
  background-color: white !important;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: space-between;
  border-left: 0.3rem solid #d7d7d7;

}

.forwardChat-data>span>i {
  font-size: 14px;
  // margin-left: 1rem;
}

.forwardChat-data>div>p {
  padding-left: 1rem;
}

.forwardChat-data>img {
  width: 10px;
  height: 20px;
  top: 0%;
  position: relative;
  // margin-left: 10px;
}

.ant-table-tbody>tr>td {
  padding: 6px 10px 6px 10px !important;

  &:first-child {
    padding: 0px 10px 6px 10px !important;
  }
}

.ant-space-item {
  .ant-menu-submenu-title {
    margin-block: 0px !important;
    background: transparent !important;
    padding-inline-end: 0px !important;
  }
}

.chat-module-div {
  display: flex;
}

.chat-list-main-div {
  margin: 0px 0px 0px 0px;
  width: 300px;
  background-color: #fff;
  padding: 10px 10px;
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #00000030;
}

.chat-data-div {
  width: -webkit-fill-available;
}

.chat-list-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  img {
    height: 40px;
    width: 40px;
  }
}

.chat-module-width {
  width: -webkit-fill-available !important;
  background-color: transparent;
  // border-bottom: 1px solid #0000004f;
}

.modal-chat-position {
  left: 16.5%;
}

.chat-list-name {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7058823529);
}

.empty-chat-div {
  background-color: #fff;
  padding-top: 300px;
  height: calc(100vh - 65px);

  .chat-empty {
    .ant-empty-description {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7058823529);
    }
  }
}

.chat-list-div-active {
  background-color: #f8f9fd;
  margin: 0 -10px;
  padding: 4px 10px;
}

.billing-main-div {
  margin-top: 20px;

  .billing-sub-div {
    display: grid;
    justify-content: space-evenly;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }

  .billing-header {
    font-weight: 600;
  }
}

@media (max-width: 1000px) {
  .billing-main-div {
    width: 100%;
  }
}

.card-heading {
  font-size: 24px;
  font-weight: 600;
}

.report-text-primary {
  font-size: 16px;
  font-weight: 500;
}

.report-main-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.report-details-div {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.btn-div {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.report-card {
  position: relative;
  .ant-card-body{
    padding-top: 0.60rem;
    padding-bottom: 0px;
  }

  .ant-card-body {
    min-height: calc(100vh - 185px);
  }
}

.menu-image-slider {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 10px;
  position: relative;
  border-radius: 30px;
  align-items: center;

  .slider {
    border-radius: 30px;
    width: 80%;
  }

  .slick-list {
    border-radius: 30px;
  }

  .slider-image {
    border-radius: 30px;
    width: -webkit-fill-available;
    height: 350px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #fff !important;
    position: absolute;
  }

  .slick-next {
    right: 20px;
    width: 36px;
    height: 36px;
  }

  .slick-prev {
    left: 5px;
    width: 36px !important;
    height: 36px !important;
    z-index: 1;
  }
}

.report-template-card {
  position: relative;
  height: calc(100vh - 120px);
  overflow: auto;

  .btn-div {
    z-index: 9999;
    position: absolute;
    bottom: 0px;
    right: 10px;

    .ant-form-item-control-input-content {
      display: flex;
      gap: 10px;
    }
  }
}

.column-display-none {
  display: none;
}

.ant-layout-header {
  color: #000 !important;
  background-color: #fff !important;
}

.ant-menu,
.ant-menu-item-active {
  color: #00a0e3 !important;
  background-color: #fff !important;
  font-weight: 500;
}

.ant-btn-primary {
  background-color: #00a0e3 !important;
  font-size: 15px;
  font-weight: 500;
}

.ant-menu-light .ant-menu-item-selected {
  color: white !important;
  background-color: #00a0e3 !important;
}

.ant-menu-submenu-active,
.ant-menu-submenu-active:hover {
  color: white !important;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #00a0e3;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu-selected,
.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  background-color: #fff !important;
  color: #019a9d !important;
}

.ant-menu-dark .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #019a9d !important;
}

.ant-menu-submenu {
  background-color: #fff !important;
  // width: 240px;
  color: #00a0e3 !important;
}

.ant-menu-submenu-vertical {
  // width: 70px;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-body,
.ant-modal-footer {
  padding: 10px 24px !important;
}

.ant-modal-header {
  padding-top: 10px;
  background-color: #33b3e9 !important;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #33b3e9;
}

.ant-modal-close {
  top: 10px !important;
  color: white !important;
}

.ant-modal-title {
  color: white !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00a0e3;
  border-color: #00a0e3;
}

.ant-drawer-header {
  background-color: #33b3e9 !important;
  border-bottom: 1px solid #33b3e9;
}

.ant-drawer-close {
  color: white !important;
}

.ant-drawer-title {
  color: white !important;
}

.event-type-tag {
  font-weight: 500;
  font-size: 12px;
}

.ant-switch.ant-switch-checked {
  background-color: #33b3e9 !important;
}

.btn-icon-div {
  display: flex;
  gap: 6px;
  align-items: center;
}

.ant-collapse-content-box .ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 10px 10px !important;
}

.forward-chat-message {
  hr {
    color: #fff;
    border-color: #fff;
    border-style: solid;
  }
}

.queue-status-list .ant-row div:last-child,
.queue-status-list .ant-row div:nth-last-child(-n + 2) {
  width: 100% !important;
  max-width: 100% !important;
}

.queue-status-list .ant-row div {
  height: max-content;
}

.assign-queue-status-list .ant-row div {
  height: max-content;
  
}
.queue-status-list{
  overflow-x: hidden;
  overflow-y: auto;

}

.ant-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.error-btn {
  border-color: #ff6b6d;

  span {
    color: #ff6b6d;
  }
}

.error-btn-primary {
  background-color: #ff6b6d !important;
}

.filter-selected {
  background-color: #00405b !important;
}

.share-study-modal {
  .ant-modal-close {
    top: 14px !important;
  }
}

.study-image-slider {
  padding: 0 10px;
}

.action-icon-primary {
  color: #00405b !important;
}

.secondary-btn {
  background-color: #00405b !important;
}

.filter-menu {
  .ant-menu-overflow-item {
    background-color: #00a0e3 !important;
    color: #fff !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px !important;

    svg,
    span {
      color: #fff !important;
      font-size: 14px !important;
    }

    &::after {
      border-bottom-width: 0px !important;
    }

    .ant-menu-title-content {
      font-size: 14px;
    }
  }
}

.ant-menu-submenu {
  .ant-menu-item {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px !important;

  .ant-collapse-content-box {
    background-color: #fff !important;
  }

  .ant-collapse-header {
    background-color: #70caf0 !important;

    .ant-collapse-expand-icon,
    .ant-collapse-header-text {
      color: #fff !important;
      font-weight: 500;
    }
  }
}

.ant-popover-content {
  min-width: 250px !important;
}

.report-editor-div {
  .ck-editor__main {
    max-height: 53vh !important;
    overflow-y: auto !important;
  }

  ::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #99999984;
  }
}

.assign-study-modal {
  .ant-modal-body {
    max-height: calc(100vh - 150px) !important;
    overflow-y: hidden;
  }
}


.ant-menu-item-icon {
  margin-left: 8px !important;
}

.ant-menu-submenu-vertical {
  margin-left: -13px !important;
}

.ant-menu-submenu:hover {
  background-color: transparent !important;
}

.input-option-layout {
  height: 60vh !important;
}

.Report-setting-modal {
  width: 90% !important;
}

.Report-setting-option {
  display: flex;
  flex-direction: row;
}

.Report-setting-particular-option-div {
  width: 50%;
}

.ant-modal-body {
  padding-top: 0px !important;
}

.ant-modal-header {
  margin-bottom: 0px !important;
}

.Assign-study-info-tag {
  max-width: 80% !important;
  white-space: initial !important;
}

.study-modal-patient-info-layout {
  height: 69vh;
  overflow-y: auto;
  overflow-x: hidden;
} 

.Assign-study-upload-option-input-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.Assign-study-reports-option-input-layout{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: auto;
}

.Assign-study-specific-option {
  width: 95%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.study-modal-patient-audit-info-layout{
  height:12rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-study-id-input-layout{
  display: flex;
  flex-direction: column;
}

.Study-modal-input-option-division {
  // padding-top: 0.5rem;
  border-left: 1px solid #c4c4c4;
  margin-top: 1rem;
  overflow-x: auto;
  height: 69vh !important;}

.Study-edit-series-id-division {
    padding-top: 1rem;
    border-top: 1px solid #c4c4c4;
    margin-top: 1rem;
    overflow-x: auto;
  }

.assign-study-modal {
  height: 95vh !important;
}

.Report-modal-all-option-div {
  width: 18vw;
  border-right: 1px solid #00a0e3;
}

.Report-modal-option-button {
  width: 80%;
  margin-top: 0.50rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.4rem;
  margin-left: 10%;
}

.Report-modal-option-button span {
  font-size: 0.90rem;
}

.Report-modal-patient-data {
  padding-left: 1rem;
  border-left: 1px solid #f6f6f6;
  width: 80vw;
  overflow-x: hidden;
}

.Study-report-modal .ant-modal-body {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.study-auditing-modal .ant-modal-content {
  height: 93vh !important;
  overflow-y: hidden !important;
}

.study-auditing-modal .ant-modal-body {
  max-height: 93vh !important;
  overflow-y: hidden;
}

.Study-auditing-modal .study-modal-patient-info-layout {
  height: 25vh !important;
}

.Study-auditing-modal-table-data {
  height: 53vh !important;
  overflow-y: auto !important;
  margin-top: 1rem;
  border-top: 1px solid #c4c4c4;
}

.Study-count-column {
  text-align: center;
}

.Study-table table td {
  text-align: center;
}


.Study-table {

  .ant-table-row{
    background-color: #fefefe !important;
  }

  .ant-table-thead{
    .ant-table-cell{
      text-align: center !important;
    }
  }

  .ant-table{
    font-size: 13px !important;
  }

  .ant-statistic-content-value{
    font-size: 13px !important;
  }

  .study-table-chat-option{
    font-size: 16px !important;
  }

  .ant-table-row:nth-child(odd) {
    background-color: #f2f2f2 !important; /* Set background color for odd rows */
  }

  .ant-table-tbody > tr:hover > td {
    background-color: transparent !important; /* Override the hover background color */
  }
  
  .ant-table-tbody > tr:hover {
    background-color: transparent !important; /* Override the hover background color */
  }
  
}

.action-icon{
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
  font-size: 17px;
}
  
// ========= Chat Module css ============ // 

.chat-module-div {
  padding: 1rem;
}

.chat-list-main-div {
  width: 30%;
  max-height: 86vh !important;
  height: 86vh !important;
  border-radius: 5px;
  border-right: 0px;
  padding: 0px;
  box-shadow: 3px 3px 8px 0px rgba(210, 210, 210, 0.5);
  overflow-y: hidden;
  overflow-x: hidden;
}

.chat-data-div {
  height: 85vh !important;
  max-height: 86vh !important;
  background-color: transparent !important;
}

.empty-chat-div {
  height: 86vh !important;
  background-color: transparent !important;
}

.chat-list-title-div {
  border-bottom: 1px solid #C4C4C4;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #00a0e3;
}

.empty-chat-div {
  padding-top: 200px !important;
}

.all-chat-list {
  height: 80vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.study-chat-userdata {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  overflow-x: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
}

.study-chat-image {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.study-chat-data {
  margin-left: 8px;
}

.particular-study-chat-description {
  font-weight: bold;
  margin-top: 5px;
}

.Chatbox-container {
  margin-left: 2%;
}

.Chatbox-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-width: 0px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px;
}

.Chat-user-image {
  height: 36px;
  width: 36px;
}

.header-user-info {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

.User-chat-messages-division {
  overflow-y: hidden;
  background-color: #f5f5f5;
}

.Main-chat-data-division {
  padding: 0.2rem;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 0rem;
}

.userchat-date {
  color: #212121;
  font-weight: 600;
}

.userchat-container {
  background-color: #00a0e3;
}

.Latest-timestamp-info-layout {
  background-color: #f5f5f5;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.4rem;
  margin-top: 0.4rem;
  border-radius: 5px;
}

.social-chatmessanger-wrap {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Chat-message-input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f5f5f5 !important;
}

.Smiley-option-image {
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.Send-option-image {
  height: 24px;
  width: 24px;
}

.send-chat-button {
  background-color: #ffffff;
}

.wrap_img_collection {
  border-width: 0px;
  box-shadow: 0px;
}

.collectionNameCrossBtn {
  margin-left: 8px;
}

.userchat-container {
  padding-left: 0.40rem;
  padding-right: 0.40rem;
  padding-top: 0.20rem;
  padding-bottom: 0.10rem;
}

.Chat-username-information {
  font-size: 13px;
  font-weight: bold;
  background-color: #d7d7d7;
  color: #212121;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  border-left: 0.2rem solid black;
}

.userchat-data {
  margin-top: 15px;
}

.option-menu-image {
  height: 12px;
  width: 12px;
}

.userchat-time {
  margin-top: 0px;
}


.Billing-table table td {
  text-align: center;
}

.Billing-table table thead th {
  text-align: center;
}

.Billing-information-div {
  width: 100%;
  border-top: 1px solid #d0d0d0;
  margin-top: 1rem;
  padding-top: 1rem;
}

.Billing-report-information {
  margin-bottom: 0.80rem;
}

.Billing-sub-total-info-div {
  padding: 1rem;
  background-color: #efefef;
  border-radius: 5px;
}

.custom-header-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 999;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-header-inner {
  height: 750;
  width: 80%;
  background-color: rgb(239, 239, 239);
  overflow-y: auto;
}

.pop-up-icons {
  width: max-content;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.pop-up-icons>button {
  margin-left: 0.3rem;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  background-color: #33b3e9;
}

.Report-setting-option-header-info {
  color: white !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.Billing-search-modal {
  width: 80% !important;
}

.Billing-search-modal .ant-modal-body {
  padding-top: 1rem !important;
}

.Billing-search-modal .ant-btn-default {
  display: none;
}

.Study-export-option-modal .ant-form-item-control-input-content {
  width: 95% !important;
  margin-left: 1rem;
}

.Study-export-option-modal .ant-picker {
  width: 90% !important;
}

.Advance-search-modal {
  width: 80% !important;
}

.Advance-search-modal .ant-modal-body {
  padding-top: 1rem !important;
}

.Quick-filter-modal {
  width: 75% !important;
}

.Quick-filter-modal .ant-modal-body {
  padding-top: 1rem !important;
}


.Quick-filter-modal-button {
  background-color: #064f32 !important;
}

.setting-main-div {
  border: 0px !important;
  border-radius: 0px !important;
}

.normal-filter-option-list .ant-collapse-header {
  border-radius: 5px !important;
  margin-top: 0.40rem;
}

.normal-filter-option-list .ant-collapse-header-text {
  font-weight: bold !important;
}

.admin-panel-filter-option-list .ant-collapse-header {
  border-radius: 5px !important;
}

.admin-panel-filter-option-list {
  border-bottom-width: 0px !important;
}

.admin-panel-filter-option-list .ant-collapse-header-text {
  font-weight: bold !important;
}

.Report-info-table {
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  margin-top: 1rem; 
  table-layout: fixed;
  width: 95% !important;
  word-wrap:break-word

}

.Report-info-table th,
.Report-info-table td {
  border: 1px solid #c4c4c4;
  padding: 0.50rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.report-details-div {
  border-right: 1px solid #c4c4c4;
}

.insert-report-details-option {
  margin-right: 20px;
}

.ck-widget_with-resizer img {
  height: 100px !important;
}

.edit-permission-card {
  height: 86vh;
  overflow-y: auto;
  border-radius: 0px;
  padding-top: 0.20rem;
  padding-bottom: 0.20rem;
}

.ant-drawer-content-wrapper {
  width: 600px;
}

.ant-steps-item-title {
  font-weight: 600 !important;
}


.ant-steps-item-title {
  font-weight: 600 !important;
}


.user-profile-div-first {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.user-profile-div-second {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
  background-color: #f3f1f1;
  color: black;
  margin-top: 1rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.user-profile-information-span {
  margin-left: 0.80rem;
  font-weight: 600;
  color: #2e2e2e;
}

.Logout-option-button {
  background-color: rgb(255, 78, 78) !important;
}

// .report-summary-main{
//   width: 100%;
//   height: 100vh;
//   background-color: #f5f5f5;  
//   display: flex;
//   justify-content: center;
//   align-items:center;
// }

.report-summary-wrapper {
  // padding: 0.5rem;
  width: 100%;
  height: 98vh;
  max-height: 98vh;
  background-color: rgba(238, 238, 238, 0.88);
  border-radius: 10px;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
}

.report-summary-wrapper>div {
  margin-top: 0.5rem;
}

.report-summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  ;
  background-color: white;
  font-size: 1.3rem;
  padding: 0.7rem 0;
  border-radius: 10px;
}

.report-summary-header>button {
  color: transparent;
  color: white I !important;
}

.report-summary-buttons>button {
  margin-right: 0.5rem;
}

.report-summary-patient-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: max-content;

}

.report-patient-details-card{
  .ant-card-body{
    padding: 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.50rem !important;
    padding-bottom: 0.50rem !important;
  }
}

.report-summary-patient-details>div {
  width: 50%;
}

@media only screen and (max-width: 1260px) {
  .report-summary-table-res .ant-card-body {
    overflow-x: scroll;
  }

  .report-summary-table-res table {
    margin: 0;
  }

}

@media only screen and (max-width: 960px) {
  .report-summary-patient-details {
    // display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 960px) {
  .report-summary-patient-details {
    // display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 0.9rem;
  }

  .report-summary-header {
    flex-direction: column;
  }

  .report-summary-header>div {
    width: 100%;
  }

  .report-summary-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      margin: 0 1rem;
    }
  }

}



.report-summary-table-res .ant-table-wrapper {
  min-width: 1100px;
}


.w-95 {
  width: 90vw;
}




.bold-text {
  font-weight: 600;
  font-size: 0.95rem;
  width: 35%;
  padding-top: 0.70rem; 
}

.report-patient-data{
  font-size: 0.95rem;
  padding-top: 0.70rem;
}

.red-color-button {
  background-color: rgb(218, 0, 0) !important;
}

.primary-thin-button {
  border-color: #1677ff;
  color: #1677ff;
  border-width: 1px;
}

.Green-option-add-button {
  border-color: rgb(1, 194, 14);
  color: rgb(20, 194, 1);
  border-width: 2px;
}

.Green-option-add-button:hover {
  background-color: rgb(15, 151, 0);
  border-color: rgb(1, 194, 14) !important;
  color: white !important;
}


.Danger-button {
  border-color: rgb(227, 0, 0);
  color: rgb(227, 0, 0);
  border-width: 1px;
}

.Danger-button:hover {
  background-color: rgb(227, 0, 0);
  border-color: rgb(227, 0, 0) !important;
  color: white !important;
}

.Reset-button {
  border-color: rgb(227, 140, 0);
  color: rgb(227, 140, 0);
  border-width: 1px;
}

.Reset-button:hover {
  background-color: rgb(227, 140, 0);
  border-color: rgb(227, 140, 0) !important;
  color: white !important;
}

thead>tr>th {
  text-align: center !important;
}

.pt-1 {
  padding-top: 1rem;
}

.Institution-logs-table .ant-table-cell {
  text-align: center;
}

.ant-table-cell {
  text-align: center;
}

.ant-table-thead>tr:last-child>td:last-child {
  opacity: 0;
}

.ant-alert-important {
  div {
    color: rgb(255, 35, 35) !important;
  }

  span {
    color: rgb(255, 144, 144) !important;
  }

  background-color:white !important;
}

.update-button-option {
  background-color: #f3f3f3 !important;
  color: #212121 !important;
  transition: background-color 0.2 ease-in;
}

.update-button-option:hover{
  background-color: #eaeaea !important;
}

.message-option-division {
  display: flex;
  flex-direction: row;
  color: white !important;
  // margin-top: 5px; 
}

.message-option-image-division {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.message-option-image {
  height: 16px;
  width: 16px;
}

.quoted_message_media_image {
  height: 24px;
  width: 24px;
}

.quoted-document-option-division {
  display: flex;
  flex-direction: row;
}

.reply-user-information-media {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  // border-left: 0.3rem solid #d7d7d7;
}

.reply-user-span {
  margin-top: auto;
  margin-bottom: auto;
}

.reply-chat-option-image {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.quick-assign-study-division {
  label {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.assign_studies_all_id_list {
  display: flex;
  flex-direction: row;
}

.particular_assign_study_id_information {
  background-color: #efefef;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 600;
}

.Filter-delete-option{
  background-color:  #FFFFFF !important;
}

.Report-modal-patient-data {
  height: min-content;
  max-height: 70vh;
}

.message-option-division {
  opacity: 0;
  // display: none;
  height: 0;
  // margin-top: 0;
  // transition:0.3s ease-in;

}

.message-option-division>div {
  height: 26px;
  width: 26px;
  text-align: center;
  // padding: 0.3rem;
}

.userchat-container:hover {
  .message-option-division {
    opacity: 100;
    height: max-content;
    transition: 0.1s ease-in, 0.1s height;
    margin-top: 12px;
  }
}

.hw-100 {
  height: 100%;
  width: 100%;
}

.hw-90 {
  height: 90%;
  width: 90%;
}
.hw-80 {
  height: 80%;
  width: 80%;
}

.w-100{
  width:100%;
}

.urgent-case-information-data{
  color: red;
}


// @media only screen and (min-height: 600px) and (max-height:700px) {
//   .ant-table-body {
//     max-height: 400px !important;
//   }
// }


// @media only screen and (min-height: 800px) and (max-height:900px) {
//   .ant-table-body {
//     max-height: 500px !important;
//   }
// }


// @media only screen and (min-height: 900px) and (max-height:1000px) {
//   .ant-table-body {
//     max-height: 600px !important;
//   }
// }

// @media only screen and (min-height: 1000px) and (max-height:1200px) {
//   .ant-table-body {
//     max-height: 700px !important;
//   }
// }

// @media only screen and (min-height: 1200px) {
//   .ant-table-body {
//     max-height: 800px !important;
//   }
// }

.reply-chat-option-image{
  padding: 0.5rem 0;
}

.chats-modality-status{
  display:flex;
  // width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.chats-study-id{
  background-color: #00a0e3 !important;
  color: white;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.chats-study-modality{
  background-color:transparent;
  color:  black !important;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 0.2rem;
}


.Normal-report-view-option-modal{
  .ant-modal-body{
    padding-top: 1rem !important;
  }
}

.h-10{
  height:10rem;
}
.h-15{
  height:15rem;
}
.h-20{
  height:20rem;
}


.overflow-x-auto{
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
  overflow-x: hidden;
}

.mt-1{
  margin-top: 0.5rem;
}

.ant-select-selector .ant-select-selection-placeholder {
  line-height: 45px !important;
}

#report_study_description{
margin-top: 8px !important;
}

.h-21{
  height: 21rem;
}

.h-9{
  height: 13rem;
}


.ohif-viwer-option-icon{
  // margin-top: 3px;
  height: 14px;
  width: 14px;
}

.Weasis-viewer-option-icon{
  height: 17px;
  width: 17px;
  margin-left: 4px;
}

.Advance-view-report-layout .ant-card-body{
  height: calc(100vh - 140px);  
  overflow-y: auto;
  padding-left: 0.40rem;
  padding-right: 0.40rem;

} 

label[for="study_description"]{
  margin-top: 9px;
}

.iod-setting-div .ant-select-selector .ant-select-selection-placeholder{
  line-height:33px !important;
}

.modality-card-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  overflow-y: auto;
  height:58vh;
  justify-content:space-between;
  align-items:center;
  justify-content: center;
  margin-top: 0.30rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  .ant-card-head{
    background-color: #33b3e9;
    color: white;
    height: fit-content;
  }   

  .particular-modality-info-division{
    margin-top: 1rem !important;
    margin-right: 1rem !important;
    
    .ant-card-body{
      padding: 0.70rem !important;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }

    .particular-modality-charges-title{
      margin-bottom: 0.20rem;
    }
  }
}

.clinical-history-modal{
  .ant-modal-content{
    height: 95vh;
    // overflow-x: auto;
  }
}

.simplified-report-modal{
  .ant-modal-content{
    height: 90vh;
  }
  .simplied-report-input{
    height: auto;
  }
}

#download-page-main{
  border-radius: 8;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height:100vh;
  max-height:max-content;
}

.download-page-advertise{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


  >div{
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.download-typography{
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.download-description{
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Download-instruction-steps{
  .ant-steps-item{
    margin-top: 0.60rem;
  }
  .particular-steps-instruction{
    font-size: 0.90rem;
  }
}

.header-logo-downloads a{
  height: 2.8rem !important;
}

.custom-select-email .ant-select-single.ant-select-show-arrow .ant-select-selection-item{
    line-height: 45px;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}

.upload-list-inline{
 display: flex;
  flex-direction: row;
  gap:1rem;
  justify-content: space-evenly;
   align-items: center;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-table-wrapper .ant-table{
  color: #000 !important;
}

form.ant-form .ant-form-item .ant-form-item-label label{
  opacity: 1  !important;
}

.form-step-0 :where(.css-dev-only-do-not-override-15rg2km).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
  height: 5rem;
  width: 10rem;
  padding: 0.4rem !important;
}

.studyrow-option-icon{
  gap: 1.5rem !important;
  padding-left: 2rem;
}

:where(.css-15rg2km).ant-table-wrapper .ant-table {
  color: #000 !important;
}

// Study new status tag color information 
:where(.css-dev-only-do-not-override-15rg2km).ant-tag-success {
  color: #FFFFFF !important; 
  background-color: #59b32c !important;
}

:where(.css-15rg2km).ant-tag-success{
  color: #FFFFFF !important; 
  background-color: #59b32c !important;

}

// Study Assinged status tag color information 
:where(.css-dev-only-do-not-override-15rg2km).ant-tag-blue {
  background-color: #296cd9 !important;
  color: #FFFFFF !important;
}

:where(.css-15rg2km).ant-tag-blue {
  background-color: #296cd9 !important;
  color: #FFFFFF !important;
}

// Study ViewReport status tag color information 
:where(.css-dev-only-do-not-override-15rg2km).ant-tag-lime {
  background-color: #7cb305 !important;
  color:  #FFFFFF !important;
}

:where(.css-15rg2km).ant-tag-lime {
  background-color: #7cb305 !important;
  color:  #FFFFFF !important;
}

// Study Viewed status tag color information 
:where(.css-dev-only-do-not-override-15rg2km).ant-tag-cyan {
  background-color: #08979c !important;
  color:  #FFFFFF !important;
}

:where(.css-15rg2km).ant-tag-cyan {
  background-color: #08979c !important;
  color:  #FFFFFF !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-tag-magenta{
  background-color: #c41d7f !important;
  color: #FFFFFF !important;
}
:where(.css-15rg2km).ant-tag-magenta{
  background-color: #c41d7f !important;
  color: #FFFFFF !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-tag-red{
  background-color: #cf1322 !important;
  color:  #FFFFFF !important;
}
:where(.css-15rg2km).ant-tag-red{
  background-color: #cf1322 !important;
  color:  #FFFFFF !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-statistic .ant-statistic-content{
  font-size: 15px !important;
}

:where(.css-15rg2km).ant-statistic .ant-statistic-content{
  font-size: 15px !important;
}

.ant-btn-export{
  background-color: #00ad68 !important;
  color:white !important; 
  font-weight: 500 !important;
  font-size: 0.90rem;
}

.ant-btn-export:hover{
  border-color: #00ad68 !important;
  background-color: white !important;
  color:#00ad68 !important;
}

.ant-tag{
  border-radius: 10px !important;
}

// Skip to last option 

.skip-to-last-option{
  font-size: 0.9rem;
  cursor: pointer;
}

.skip-to-last-option:hover{
  color: #003b55;
}

.study-more-details .ant-modal-content{
  height: 93vh !important;
}

// Clinical history information modal 

.clinical-history-division{
  display: flex;
  flex-direction: row;
  height: 90vh;
}

// Add Institution reporting charge input information 

.Add_institution_charge_input_layout{
  display: flex;
  flex-direction:row;
  padding-top: 0.80rem;
  padding-bottom: 0.80rem;
}

// Quick assign study modal

.quick-assign-study-modal .ant-modal-body{
  height: 35vh !important;
  overflow-y: hidden !important;
}


.Reference-option-button-layout{
  justify-content: right;
  text-align: right;
  margin-bottom: -1.2rem;
  z-index: 100;
}

.Reference-download-option-button{
  margin-bottom: 0.7rem;
  margin-left: auto;
  margin-left: 0.5rem;
  z-index: 100;
}


.study-more-details .ant-modal-body{
  max-height: 87vh !important;
}

.user-creation-card{
  max-height: 87vh !important ; 
  overflow-y: hidden;
}

.ant-table-row-expand-icon{
  display: none !important;
}

.study-quick-filter-form{
  
  .ant-input{
    background-color: #ffffff !important;
    min-height: 49px !important;
    border-radius: 0px !important;
  }

  .ant-input::placeholder{
    color: rgb(98, 98, 98) !important;
  }

  .ant-select{
    .ant-select-selector{
      background-color:  #ffffff !important;
    }
  }

  .ant-select-selection-placeholder{
    color: rgb(98, 98, 98)  !important;
  }
  
  .quick-filter-date-picker{
    .ant-picker{
      background-color: #ffffff !important;
    }
  }

  #created_at__startswith::placeholder{
    color: rgb(98, 98, 98)  !important  ;
  }

  .quick-filter-input{
    margin-right: 0.8rem !important;
  }
  
}


.quick-filter-selected{
  background-color: #ff4a4a !important;
  color: #FFFFFF !important;
}

.header-secondary-option-button{
  background-color: #3d5a80 !important;
}

.header-secondary-option-button:hover{
  background-color: #547db4 !important;
}

.study-quick-filter-form :where(.css-dev-only-do-not-override-15rg2km).ant-select-single .ant-select-selector .ant-select-selection-item,.study-quick-filter-form :where(.css-dev-only-do-not-override-15rg2km).ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  // padding: 0;
  line-height: 45px;
  transition: all 0.3s,visibility 0s;
}

.patient_name_row{
  background-color: rgb(209, 244, 255) !important;
}

.ant-table-measure-row{
  // display: none !important ;
  height: 0px ;
}

// .breadcrumb-div{
//   height: 0px  !important;
//   display: none !important;
// }

.ant-select-selection-item{
  margin-top: 10px !important;
}

.chat-message-notification-layout{
  .chat-notification{
    cursor: pointer;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    border-radius: 5px; 

    .ant-list-item-meta-content{
      margin-top: auto;
      margin-bottom: auto;
    }
    
    .ant-list-item-meta-description{
      color: #494949 !important;
      font-weight: 600 ;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
    }
  } 

  .chat-notification:hover{
    background-color: #f4f4f4;
  }
}

.breadcumb-option-icon{
  height: 1rem;
  width: 1rem;
}

.billing-card-layout{

  .ant-card-body{
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 10px !important;
  }
}

.study-report-icon{
  height: 18px;
}

.selected-profile-image{
  height: 4rem !important;
  width: 9rem !important;
}

// ==== User creation card ==== // 
.user-creation-card{
  overflow-y: hidden;

  .ant-form{
    overflow-y: auto !important;
    overflow-x: hidden  ;
    max-height: 78vh;
  }
}

// ==== User details update conformation modal ===== // 

.user-update-option-button{
  background-color: #3d5a80 !important;
}

.user-update-option-button:hover{
  background-color: #4d76ad !important;
}

.user-details-update-conformation-modal{
  .ant-modal-header{
    background-color: #ff6767 !important;
    border-bottom: 0px !important;
  }
  .ant-btn-primary{
    background-color: #ff6767 !important;
  }
  .ant-btn-primary:hover{
    background-color: rgb(255, 62, 62) !important;
  }
  .conformation-description{
    font-size: 0.95rem;
  }
}

// ==== Update table pagination select option css ==== // 

.ant-table-wrapper{
  .ant-select-selection-item{
    margin-top: 3px !important;
  }
}

// ==== Templates option editor ==== // 

.add-template-option-editor{
  .ck-editor__main{
    height: 60vh;
    overflow-y: auto;
    width: calc(100%) ;
  }

  .ck-editor__editable{
    height: 59vh;
  }
}

.advance-report-file-option-editor{
  .ck-editor__main{
    height: 56vh;
    overflow-y: auto;
    width: calc(100%) ;
  }

  .ck-editor__editable{
    height: 53vh;
  }
}

// ==== Advance file related option ==== // 

.ohif-option-image{
  height: 16px;
  width: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.viewer-option-layout{
  display: flex;
  flex-direction: row;
}

.viewer-option-text{
  margin-left: 8px;
  font-size: 0.80rem !important;
  margin-top: auto;
  margin-bottom: auto;
}

.ohif-basic-viewer-option{
  background-color: #FFFFFF !important;
  span{
    color: #FFA500 !important;
  }
}

.ohif-basic-viewer-option:hover{
  background-color: #FFA500 !important;
  span{
    color: #FFFFFF !important;
  }
}

.kiware-viewer-option{
  background-color:  #FFFFFF !important;
  span{
    color: #000000 !important;
  }
}

.kiware-viewer-option:hover{
  background-color: #3d5a80 !important;
  span{
    color: #FFFFFF !important;
  }
}

// Delete billing data button 

.delete-record-option-button:hover{
  border-color: red !important;

  span{
    color: red !important;
  }
}

// Report summary page related css 

.patient-details-title{
  font-size: 0.95rem;
}

.patient-report-info-table{
  width: 100%;
  tr{
    padding-top: 1rem;
  }
}

.report-back-option-button{
  background-color: #3d5a80 !important;
}

.report-back-option-button:hover{
  background-color: #0e386e !important;

}

.upload-image-selection-division{
  max-height: 200px;
  overflow-y: auto;
}

// Upload image information layout 

.all-upload-document-list-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;

}

.Report-reference-document{
  margin-bottom: 0.8rem;
  margin-top: 1rem;
  margin-right: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.Reference-image{
  height: 4rem !important;
  width: 90% ;
  margin-left: auto;
  margin-right: auto;
}


// dicom images upload study 

.upload-directory-option-button{
  background-color: #3d5a80 !important;
  color: #FFFFFF !important;
  margin-bottom: 0.60rem;
}

.upload-directory-option-button:hover{
  background-color: #3769ab !important;
}


.upload-directory-upload-option{
  display: flex;
  flex-direction: row;
}

.dicom-upload-image-drawer{
  .ant-upload{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .ant-upload-list-item{
    height: auto !important;
    padding: 0.60rem;
    margin-top: 0.20rem;
    background-color: #FFFFFF !important;
    border-radius: 8px ;
    transition: 0.2s ease background-color;
  }

  .anticon-paper-clip{
    color: #000000 !important;
  }

  .ant-upload-list-item-name{
    color: #000000 !important;
  }

  .ant-tooltip{
    display: none !important;
  }

  .ant-upload-list{
    height: 78vh !important;
    overflow-y: auto;
  }

  .ant-upload-list-item:hover{
    background-color: #3d5a80 !important;
    border: 1px solid #c5c5c5;

    .anticon-paper-clip{
      color: #FFFFFF !important;
    }
  
    .ant-upload-list-item-name{
      color: #FFFFFF !important;
    }

  
  }
}

.anticon-cloud-upload{
  font-size: 16px !important;
}


.anticon-history{
  font-size: 15px !important;
}

// total page count information label 
.total_page_info_title{
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  margin-top: 2px;
  margin-right: 10px;
}

.download-information-title{
  font-size: 0.90rem;
  font-weight: 600;
  color: red;
}

.download-instruction-tab{
  .ant-tabs-content-holder{
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 1rem;
  }

  .download-instruction-image-text-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  } 

  .download-instruction-image{
    height: 30rem !important;
    width: 30rem !important;
  }

  .download-instruction-text{
    font-family: 1rem;
    padding-left: 0.6rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: left;
  }
}

.clear-all-image-option-button{
  background-color: #ff6f6f !important;
}

.clear-all-image-option-button:hover{
  background-color: rgb(255, 62, 62) !important;
}

.ck-content .table table {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


.ck-content .table table td{
  padding: 0.1rem !important;
  padding-left: 0.4rem !important;
}

.ck-table-bogus-paragraph{
  span{
    font-size: 0.80rem !important;
  }
}

.template-selection-option-division{
  .ant-select-selection-item{
    margin-top: 2px !important;
  }
}

.reupload-option-icon{
  height: 22px;
  width: 22px;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: auto;
}

.manual-entry-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}

.manual-entry{
  width: 70%;
  border: 2px dotted gray;
  border-radius: 1rem;
}

.header{
  font-size:1.4rem;

}


.p-2{
  padding:1rem;
}