.display-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-text-link {
  color: #1677ff;
  cursor: pointer;
}

.company-logo {
  width: 120px;
  height: 40px;
}
.vertical-divider {
  height: 3.9em;
  margin: 0px;
  border-inline-start: 1px solid rgba(0, 0, 0, 0.5);
}

.header-menu {
  // width: calc(100vh - 200px);
  // .ant-menu-submenu-title {
  //   display: flex;
  //   align-items: center;
  // }
}

.down-icon {
  font-size: 12px;
}

.justify-end {
  text-align: end;
}

.display-flex {
  display: flex;
  gap: 10px;
}

.header-breadcrumb {
  .ant-breadcrumb-link {
    color: #000000b4 !important;
    font-weight: 600;
    a {
      color: #000000b4 !important;
      opacity: 0.7;
      font-weight: 600;
    }
  }
  .ant-breadcrumb-separator {
    color: #111315 !important;
    opacity: 0.7;
  }
}

.editable-row {
  .ant-table-cell-row-hover {
    background-color: #e6f6fc !important;
  }
}

.edit-permission-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.action-icon {
  font-size: 20px;
  color: #00a0e3;
  cursor: pointer;
}

.ant-table-thead {
  .ant-table-cell {
    background: #33b3e9 !important;
    color: #fff !important;
  }
}

.ant-table-row {
  .ant-input {
    // background-color: #fff !important;
    min-height: 36px !important;
  }
  &:nth-child(even) {
    .ant-input {
      // background-color: #fff !important;
      height: 30px !important;
    }
    .ant-table-cell {
      // background-color: #e6f6fc !important;
    }
  }
}

.secondary-table {
  .ant-table-row {
    .ant-input {
      background-color: #fff !important;
      min-height: 30px !important;
      // width: 70% !important;
      border: 1px solid #00000025 !important;
      border-radius: 4px !important;
    }
    &:nth-child(even) {
      .ant-input {
        background-color: #fff !important;
        height: 30px !important;
        // width: 70% !important;
      }
      .ant-table-cell {
        background-color: #fff !important;
      }
    }
  }
  .editable-row {
    .ant-table-cell-row-hover {
      background-color: #fff !important;
    }
  }
}

.breadcrumb-div {
  margin-top: 20px;
  // background-color: #84cdca;
  padding: 10px 35px;
  // border-radius: 12px;
  // box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
  // height: 20px !important;
}

.study-counter {
  font-weight: 600;
  font-size: 16px;
  background-color: #1a2c3e;
  opacity: 0.7;
  color: white;
  border-radius: 50px;
  padding: 0px 10px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(5, 5, 5, 0.1);
}
.study-typography-primary {
  display: flex;
  gap: 4px;
  font-weight: 600;
}
.study-typography-secondary {
  font-weight: 400;
}
.study-typography {
  color: #eea47f;
  // color: #e2d2f9;
  font-weight: 600;
}
.typography-primary {
  color: #01539d;
  color: #317874;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-user > img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-user {
  display: flex;
  position: absolute;
  left: 30px;
  gap: 15px;
  align-items: center;

  .header-user-info {
    font-weight: 600;
    font-size: 14px;
    line-height: 10px;
    // margin-top: 10px;
    color: rgba(0, 0, 0, 0.7058823529);
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
}

.chat-drawer {
  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-body {
    padding: 0;
  }
}

.wrap_tabbing {
  overflow: hidden;
}

.chatfilewrap {
  /* margin-top: 70px; */
  display: block;
  background-color: #fff;
  max-width: 414px;
  margin: 0px auto;
}

.modal-chat-issue {
  height: 82vh;
  position: fixed;
  margin-top: 5px;
  width: 70%;
}

.userchat-main {
  padding: 15px 15px 30px 30px;
  position: relative !important;
  overflow-y: auto;
  height: 75vh;
  overflow-x: hidden;
}

.chatfile-style {
  height: auto;
}

.userchat-date {
  text-align: center;
  padding-bottom: 16px;
  // padding-left: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.0354545em;
  padding-top: 10px;
  color: #6d7993;
}

.userchat-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  background: #33b3e9;
  width: 50%;
  float: right;
  margin-bottom: 16px;
  position: relative;
}

.black-color {
  background-color: black !important;
}

.color-test {
  background-color: "none";
}

.userchat-reply {
  border: 1px solid #6d7993;
  background: #ffff;
  color: #6d7993;
  float: left;
}

.showcard-containerimg {
  display: flex;
  // justify-content: center;
  background: #000;
  position: relative;
}

.userchat-data {
  display: flex;
  align-items: start;
  justify-content: space-between;
  word-break: break-all;
  font-weight: 500;
}

.userchat-time {
  justify-content: end;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 500;
}

.group-chat-user-chat {
  flex-wrap: wrap;
  flex-direction: column;
}

.social-chatmessanger {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  // padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  // width: calc(100vw - 400px);
}

.emoji-chatmessanger {
  bottom: 30% !important;
}

.social-chatmessanger-wrap > textarea {
  border: none;
  height: 23px;
  width: 100%;
  margin-left: 7px;
  font-size: 15px;
  max-height: 6rem !important;
  background: white;
  color: #000000c3;
  &::placeholder {
    color: #00000050;
  }
  /* overflow: scroll !important; */
}

.social-chatmessanger-wrap {
  display: flex;
  align-items: center;
  padding: 15px;
  background: white;
  // border: 1px solid #efefef;
  // border-radius: 12px;
  z-index: 999;
  gap: 5px;
  border-top: 1px solid #00000030;
}

.chat-camera-module > input[type="file"] {
  opacity: 0;
  color: transparent;
}

.chat-camera-module > input {
  width: 6%;
  position: absolute;
  /* left: 88%; */
}

.chat-camera-module > img {
  width: 40px;
  height: auto;
}

.chat-camera-module > input {
  width: 8%;
  position: absolute;
  left: 74%;
}

.chat-camera-module > img {
  width: 28px !important;
  height: 28px;
}

.send-chat-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #33b3e9;
  margin-left: 15px;
  margin-right: 15px;
}

.chat-upload-images {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  bottom: 60px;
  gap: 25px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  padding: 0px;
  /* margin: auto; */
  height: auto;
  right: 0;
  left: 0;
  padding: 10px 10px 10px 12px;
}

.handle-scroll {
  height: 29vh;
  overflow: scroll;
  width: auto;
}

.wrap_img_collection {
  margin-top: 5px;
  width: 30.3%;
  height: 85px;
  background: #ffffff;
  border: 1.5px dashed #99d3df;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(153, 211, 223, 0.2);
  border-radius: 20px;
}

.collection_img {
  width: 120px !important;
}

.collectionNameAddBtnContainer .video-part {
  border-radius: 20px !important;
  height: 85px;
}

.collectionNameAddBtnContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.pos_rel {
  position: relative !important;
  margin: 5px 5px;
}

.collectionNameCrossBtn {
  position: absolute;
  top: 4px;
  right: 5px;
  color: white;
  background-color: #99d3df !important;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.fileChat-cross-icon {
  z-index: 9999;
  top: -10px;
  left: 70px;
  right: 0px;
}

.filecross-btn {
  right: auto;
  top: auto;
}

.pdf-issue-fix-cross-btn {
  position: relative;
}
.icon-chat-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-text-pdf-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-pdf-data {
  text-decoration: underline;
  color: #99d3df;
}
.fileChat-cross-icon-direct {
  z-index: 9999;
  top: -10px;
  left: 40px;
  right: 0px;
}
.emoji-container {
  bottom: 0px !important;
  position: fixed;
  width: -webkit-fill-available;
  padding-left: 130px;
  height: 275px;
  overflow-y: auto;
}
.emoji-chatmessanger {
  bottom: 47% !important;
}

.Img_store {
  width: 100%;
  height: 83px;
  object-fit: cover;
  border-radius: 20px;
}

.chatList-searchBox {
  position: absolute;
  left: 16%;
}

.search-box-outer {
  border: 1px solid #efefef;
  border-radius: 10px;
  position: relative;
  padding-right: 60px;
}
.search-box-inner {
  padding: 11px 9px 9px 38px;
  font-size: 15px;
  color: #989da6;
}
.search-box-inner img {
  position: absolute;
  left: 10px;
  top: 10px;
}
.search-box-outer svg {
  position: absolute;
  right: 15px;
  top: 10px;
}
.search-box-outer svg.active path {
  fill: #99d3df;
}

.search-box-outer2 .search-box-inner {
  padding-top: 0;
  padding-bottom: 0;
}
.search-box-outer2 .search-box-inner input {
  border: none;
  width: 100%;
  padding: 10px 0;
}

.search-box-outer svg,
.search-box-inner img {
  width: 18px;
}

.search-box-outer.search-box-outer2 {
  position: sticky;
  top: 64px;
  z-index: 9999;
  background: #fff;
  padding-right: 0;
}

.search-box-inner {
  font-size: 14px;
}
.search-box-inner img {
  top: 10px;
}
.search-box-inner .base-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box-inner .base-inner .ant-input {
  width: 90% !important;
  height: 30px !important;
  border: none !important;
}

.search-box-inner .base-inner .ant-input-affix-wrapper,
.search-box-inner .base-inner .ant-input-affix-wrapper-focused {
  border-width: 0px !important;
  border-inline-end-width: 0px !important;
  padding: 4px 0px !important;
  border-color: #ffffff !important;
  box-shadow: none !important;
}

.searchicon {
  width: 26px;
  height: 26px;
}
.chat-search-dropDown {
  position: absolute;
  right: 4%;
  display: flex;
  gap: 2px;
}

.setting-handle {
  position: absolute;
  display: flex;
  background: #6d7993;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  flex-direction: column;
  color: #fff;
  top: 1px;
  right: 5px;
  z-index: 2;
}

.setting-handle-container {
  /* padding: 14px 105px 14px 14px; */
  padding: 6px 10px 5px 14px;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  right: 5px;
  z-index: 99;
}

.chat-group-dropdown > img {
  height: 20px;
  width: 28px;
}

.chat-setting {
  position: absolute;
  background: #6d7993;
  box-shadow: 0px 5px 15px rgb(140 173 180 / 20%);
  border-radius: 12px;
  right: 0;
  top: 33px;
  z-index: 999;
}
.chat-setting-pop {
  color: #ffff;
  gap: 13px;
}

.chat-setting-pop-span {
  cursor: pointer;
  padding: 12px;
  text-align: center;
}

.chat-setting-pop > hr {
  margin: 0px !important;
}

.quotedMessage-container {
  width: -webkit-fill-available;
  background: #fff;
  background: #ffffff;
  border: 2px solid #efefef;
  border-radius: 12px;
  // margin: 0px 7px 50px 7px;
  display: flex !important;
  flex-direction: row !important;
  padding: 7px 15px 7px 15px;
  position: absolute;
  bottom: 59px;
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.quotedMessage-container-position {
  margin: 0px 7px 70px 7px;
}
.quoted-details {
  width: 95%;
  word-break: break-all;
}
.quotedMessage-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #323b4d;
  margin-bottom: 0px !important;
}
.quotedMessage-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6d7993;
}
.showcard-containerimg {
  display: flex;
  // justify-content: center;
  background: #000;
  position: relative;
}
.showcard-containerimg > img {
  height: 29vh;
  border-radius: 10px;
  object-fit: contain;
}

.showcard-containerimg > video {
  /* padding: 0px 7px; */
  height: 29vh;
}
.showcard-containerimg > div > video {
  height: 29vh;
}

.chat-doc-image {
  height: 50px;
}
.chat-file-name-size {
  flex-direction: column;
  margin-top: 10px;
}
.number_text_data {
  font-weight: normal;
  font-size: 14px;
  /* color: #323b4d;
  opacity: 0.5; */
}
.forwardChat-data {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.forwardChat-data > span > i {
  font-size: 14px;
}

.forwardChat-data > img {
  width: 10px;
  height: 20px;
  top: 0%;
  position: relative;
  // margin-left: 10px;
}

.ant-table-tbody > tr > td {
  padding: 6px 10px 6px 10px !important;
  &:first-child {
    padding: 0px 10px 6px 10px !important;
  }
}

.ant-space-item {
  .ant-menu-submenu-title {
    margin-block: 0px !important;
    background: transparent !important;
    padding-inline-end: 0px !important;
  }
}

.chat-module-div {
  display: flex;
}

.chat-list-main-div {
  margin: 0px 0px 0px 0px;
  width: 300px;
  background-color: #fff;
  padding: 10px 10px;
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #00000030;
}
.chat-data-div {
  width: -webkit-fill-available;
}

.chat-list-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  img {
    height: 40px;
    width: 40px;
  }
}

.chat-module-width {
  width: -webkit-fill-available !important;
  background-color: transparent;
  // border-bottom: 1px solid #0000004f;
}

.modal-chat-position {
  left: 16.5%;
}
.chat-list-name {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7058823529);
}
.empty-chat-div {
  background-color: #fff;
  padding-top: 300px;
  height: calc(100vh - 65px);
  .chat-empty {
    .ant-empty-description {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7058823529);
    }
  }
}
.chat-list-div-active {
  background-color: #f8f9fd;
  margin: 0 -10px;
  padding: 4px 10px;
}

.billing-main-div {
  margin-top: 20px;
  width: 50%;
  .billing-sub-div {
    display: grid;
    justify-content: space-evenly;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .billing-header {
    font-weight: 600;
  }
}

@media (max-width: 1000px) {
  .billing-main-div {
    width: 100%;
  }
}
.card-heading {
  font-size: 24px;
  font-weight: 600;
}
.report-text-primary {
  font-size: 16px;
  font-weight: 500;
}
.report-main-div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.report-details-div {
  // position: relative;
  min-height: calc(100vh - 250px);
}
.btn-div {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.report-card {
  position: relative;
  .ant-card-body {
    min-height: calc(100vh - 200px);
  }
}
.menu-image-slider {
  margin: 20px 0;
  padding: 0 10px;
  position: relative;
  border-radius: 30px;

  .slider {
    border-radius: 30px;
  }

  .slick-list {
    border-radius: 30px;
  }

  .slider-image {
    border-radius: 30px;
    width: -webkit-fill-available;
    height: 350px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #fff !important;
    position: absolute;
  }

  .slick-next {
    right: 20px;
    width: 36px;
    height: 36px;
  }

  .slick-prev {
    left: 5px;
    width: 36px !important;
    height: 36px !important;
    z-index: 1;
  }
}
.report-template-card {
  position: relative;
  height: calc(100vh - 200px);
  overflow: auto;
  .btn-div {
    z-index: 9999;
    position: absolute;
    bottom: 0px;
    right: 10px;
    .ant-form-item-control-input-content {
      display: flex;
      gap: 10px;
    }
  }
}
.column-display-none {
  display: none;
}
.ant-layout-header {
  color: #000 !important;
  background-color: #fff !important;
}
.ant-menu,
.ant-menu-item-active {
  color: #00a0e3 !important;
  background-color: #fff !important;
  font-weight: 500;
}
.ant-btn-primary {
  background-color: #00a0e3 !important;
  font-size: 15px;
  font-weight: 500;
}
.ant-menu-light .ant-menu-item-selected {
  color: white !important;
  background-color: #00a0e3 !important;
}
.ant-menu-submenu-active,
.ant-menu-submenu-active:hover {
  color: white !important;
}
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #00a0e3;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: #fff !important;
  color: #019a9d !important;
}
.ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #019a9d !important;
}
.ant-menu-submenu {
  background-color: #fff !important;
  // width: 240px;
  color: #00a0e3 !important;
}
.ant-menu-submenu-vertical {
  // width: 70px;
}
.ant-modal-content {
  padding: 0 !important;
}
.ant-modal-body,
.ant-modal-footer {
  padding: 10px 24px !important;
}
.ant-modal-header {
  padding-top: 10px;
  background-color: #33b3e9 !important;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #33b3e9;
}
.ant-modal-close {
  top: 10px !important;
  color: white !important;
}
.ant-modal-title {
  color: white !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00a0e3;
  border-color: #00a0e3;
}
.ant-drawer-header {
  background-color: #33b3e9 !important;
  border-bottom: 1px solid #33b3e9;
}
.ant-drawer-close {
  color: white !important;
}
.ant-drawer-title {
  color: white !important;
}
.event-type-tag {
  font-weight: 500;
  font-size: 12px;
}
.ant-switch.ant-switch-checked {
  background-color: #33b3e9 !important;
}
.btn-icon-div {
  display: flex;
  gap: 6px;
  align-items: center;
}
.ant-collapse-content-box .ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 10px 10px !important;
}
.forward-chat-message {
  hr {
    color: #fff;
    border-color: #fff;
    border-style: solid;
  }
}
.queue-status-list .ant-row div:last-child,
.queue-status-list .ant-row div:nth-last-child(-n + 2) {
  width: 100% !important;
  max-width: 100% !important;
}
.queue-status-list .ant-row div {
  height: 30px;
}

.assign-queue-status-list .ant-row div {
  height: 30px;
}

.ant-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.error-btn {
  border-color: #ff6b6d;
  span {
    color: #ff6b6d;
  }
}
.error-btn-primary {
  background-color: #ff6b6d !important;
}
.filter-selected {
  background-color: #00405b !important;
}
.share-study-modal {
  .ant-modal-close {
    top: 14px !important;
  }
}

.study-image-slider {
  padding: 0 10px;
}

.action-icon-primary {
  color: #00405b !important;
}

.secondary-btn {
  background-color: #00405b !important;
}

.filter-menu {
  .ant-menu-overflow-item {
    background-color: #00a0e3 !important;
    color: #fff !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px !important;
    svg,
    span {
      color: #fff !important;
      font-size: 14px !important;
    }
    &::after {
      border-bottom-width: 0px !important;
    }
    .ant-menu-title-content {
      font-size: 14px;
    }
  }
}
.ant-menu-submenu {
  .ant-menu-item {
    margin-bottom: 0px !important;
  }
}
.mb-0 {
  margin-bottom: 0px !important;
  .ant-collapse-content-box {
    background-color: #fff !important;
  }
  .ant-collapse-header {
    background-color: #70caf0 !important;
    .ant-collapse-expand-icon,
    .ant-collapse-header-text {
      color: #fff !important;
      font-weight: 500;
    }
  }
}

.ant-popover-content {
  min-width: 250px !important;
}

.report-editor-div {
  .ck-editor__main {
    max-height: 420px !important;
    overflow-y: auto !important;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #99999984;
  }
}

.assign-study-modal {
  .ant-modal-body {
    max-height: calc(100vh - 150px) !important;
    overflow-y: auto;
  }
}


.ant-menu-item-icon{
  margin-left: 8px !important;
}

.ant-menu-submenu-vertical{
  margin-left: -13px !important;
}

.ant-menu-submenu:hover{
  background-color: transparent !important;
}

.input-option-layout{
  height: 60vh !important;
}

.Report-setting-modal{
  width: 90% !important;
}

.Report-setting-option{
  display: flex;
  flex-direction: row;
}

.Report-setting-particular-option-div{
  width:50%;
}

.ant-modal-body{
  padding-top: 0px !important;
}

.ant-modal-header{
  margin-bottom: 0px !important;
}

.Assign-study-info-tag{
  max-width: 80% !important;
  white-space: initial !important;
}

.study-modal-patient-info-layout{
  height: 22vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Assign-study-upload-option-input-layout{
  display: flex;
  flex-direction: row;
}

.Assign-study-specific-option{
  width: 50%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.Study-modal-input-option-division{
  padding-top: 1rem;
  border-top: 1px solid #c4c4c4;
  margin-top: 1rem;
}

.assign-study-modal{
  height: 95vh !important;
}

.Report-modal-all-option-div{
  width: 18vw;
  border-right: 1px solid #00a0e3;
}

.Report-modal-option-button{
  width: 80%;
  margin-top: 0.50rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.4rem;
  margin-left: 10%;
}

.Report-modal-option-button span{
  font-size: 0.90rem;
}

.Report-modal-patient-data{
  padding-left: 1rem;
  border-left: 1px solid #f6f6f6;
  width: 80vw ;
  overflow-x: hidden;
}

.Study-report-modal .ant-modal-body{
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.study-auditing-modal .ant-modal-content{
  height: 93vh !important;
  overflow-y: hidden !important;
}

.study-auditing-modal .ant-modal-body{
  max-height: 93vh !important;
  overflow-y: hidden;
}

.Study-auditing-modal .study-modal-patient-info-layout{
  height: 25vh !important;
}

.Study-auditing-modal-table-data{
  height: 53vh !important;
  overflow-y: auto !important;
  margin-top: 1rem;
  border-top: 1px solid #c4c4c4;
}

.Study-count-column{
  text-align: center;
}

.Study-table table td{
  text-align: center;
}

// ========= Chat Module css ============ // 

.chat-module-div{
  padding: 1rem;
}

.chat-list-main-div{
  width: 30%;
  max-height: 86vh !important;
  height: 86vh !important;
  border-radius: 5px;
  border-right: 0px;
  padding: 0px;
  box-shadow: 3px 3px 8px 0px rgba(210, 210, 210, 0.5);
  overflow-y: hidden;
  overflow-x: hidden;
}

.chat-data-div{
  height: 85vh !important;
  max-height: 86vh !important;
  background-color: transparent !important;
}

.empty-chat-div{
  height: 86vh !important ;
  background-color: transparent !important;
}

.chat-list-title-div{
  border-bottom: 1px solid #C4C4C4;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #00a0e3;
}

.empty-chat-div{
  padding-top: 200px !important;
}

.all-chat-list{
  height: 80vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.study-chat-userdata{
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  overflow-x: hidden;
  padding-top: 12px ; 
  padding-bottom: 12px;
}

.study-chat-image{
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.study-chat-data{
  margin-left: 8px;
}

.particular-study-chat-description{
  font-weight: bold;
  margin-top: 5px;
}

.Chatbox-container{
  margin-left: 2%;
}

.Chatbox-header{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-width: 0px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px;
}

.Chat-user-image{
  height: 36px;
  width: 36px;
}

.header-user-info{
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}

.userchat-main{
  height: 69vh;
  background-color: #f5f5f5;
}

.Main-chat-data-division{
  padding: 0.2rem;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 0rem;
}

.userchat-date{
  color: #212121;
  font-weight: 600;
}

.userchat-container{
  background-color: #00a0e3;
}

.Latest-timestamp-info-layout{
  background-color: #f5f5f5;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.4rem;
  margin-top: 0.4rem;
  border-radius: 5px;
}

.social-chatmessanger-wrap{
  padding-top: 1.3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Chat-message-input{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}